<div class="h-wrapper">
  <div class="h-info">

    <div class="h-dp">
      <img ng-src="images/user.png" alt=""/>
    </div>
    <div class="h-details"></div>
    <div class="h-score">
      {{6}}
    </div>
  </div>

  <angucomplete-alt id="ex1"
                    placeholder="Search your valentine/friend"
                    pause="100"
                    selected-object="selectedReceiver"
                    remote-url="http://beta.json-generator.com/api/json/get/BflDVyA?searchstr="
                    search-fields="name"
                    title-field="name"
                    minlength="3"
                    template-url="/templates/autocomplete.html"
                    input-class="input"
    description-field="details"
                    field-required="true"
                    match-class="matched"
    image-field="image"></angucomplete-alt>


</div>
