<div class="h-wrapper" ng-show="dash">
  <div class="h-info">

    <div class="h-dp">
      <img ng-src="http://dil.channeli.in/photo/{{dash.enrollment_no}}" alt=""/>
    </div>
    <div class="h-details">
      <span>{{dash.name}}</span>
      <span>{{dash.label}}</span>
    </div>
    <div class="h-score hint--left hint--rounded hint--error" data-hint="Total Roses Received">
      {{dash.red_roses+dash.yellow_roses}}
    </div>
  </div>

  <div class="break">
    <div class="h-br">
      <div class="h-title"><img src="images/redrose2.png"/></div>
      <div class="h-title">{{dash.red_roses}}</div>
    </div>
    <div class="h-br">
      <div class="h-title"><img src="images/yellowrose2.png"/></div>
      <div class="h-title">{{dash.yellow_roses}}</div>
    </div>
    <div class="h-br">
      <div class="h-title"><img src="images/boy.png"/></div>
      <div class="h-title">{{dash.male_roses}}</div>
    </div>
    <div class="h-br">
      <div class="h-title"><img src="images/girl.png"/></div>
      <div class="h-title">{{dash.female_roses}}</div>
    </div>
  </div>

  <ul id="tabs">
    <!--<li><a href="#home">Faculty Advisor</a>
    </li>-->
    <li class="current" ng-click="h=false"><a href="#a">Send Message</a>
    </li>
    <li ng-click="h=false"><a href="#b">Received Messages</a>
    </li>
    <li ng-click="h=true"><a href="#c">Daywise Statistics</a></li>
  </ul>

  <div id="content">
    <div id="a" class="current">

      <div class="angucomplete-wrapper">
        <angucomplete-alt id="ex1"
                          placeholder="Search your valentine/friend"
                          pause="100"
                          selected-object="selectedReceiver"
                          remote-url="http://dil.channeli.in/valentino/person_search/?term="
                          search-fields="name"
                          title-field="name"
                          minlength="2"
                          template-url="/templates/autocomplete.html"
                          input-class="input"
                          description-field="label"
                          field-required="true"
                          image-field="id">
        </angucomplete-alt>
      </div>
      <div class="h-receiver fade" ng-if="selectedReceiver">
        <form ng-submit="sendMessage()">

          <div class="h-sendingInfo">
            <div class="hsi1">
              <img ng-src="http://dil.channeli.in/photo/{{selectedReceiver.originalObject.id}}" alt=""/>
        <span class="hsi1-1">{{selectedReceiver.originalObject.name}}<br/>
        <span>{{selectedReceiver.originalObject.label}}</span></span>
        <span class="hsi1-2">
          <input type="checkbox" id="anon" ng-model="message.anon"/>
          <label for="anon">Send as Anonymous</label>
        </span>
	<span class="r-rose" style="width:100px;">
	<span ng-class="{active:message.rose_color=='RR'}">
		<img ng-click="message.rose_color='RR'" src="images/redrose2.png"/>
	</span>
	<span ng-class="{active:message.rose_color=='YR'}">
		<img style="float:right;" ng-click="message.rose_color='YR'" src="images/yellowrose2.png"/>
	</span>
	</span>
            </div>
        <textarea class="" ng-model="message.message" ng-disabled="message.anon" maxlength="200"
                  placeholder="{{message.anon?'You cannot send message while being anonymous':'Message'}}"></textarea>

            <div class="hsi2" style="width:50%;"  ng-show="!(message.anon)">{{200-message.message.length}}</div>
            <button type="submit"><i class="fa fa-send"></i>Send</button>
          </div>
        </form>

      </div>
    </div>
    <div id="b">
      <div class="r-msg" ng-repeat="r in dash.message_received">
        <img ng-src="http://dil.channeli.in/photo/{{r.enrol}}" alt=""/>
       <span class="r-name"><a ng-href="#/user/{{r.enrol}}">{{r.message_from}}</a></span>
	<span class="rose" ng-if="r.rose_color=='YR'">	<img src="images/yellowrose2.png"/></span>
	<span class="rose" ng-if="r.rose_color=='RR'">	<img src="images/redrose2.png"/></span>
        <div class="message" ng-bind-html="r.message | linky:'_blank'| emoticons"></div>
      </div>
	<div class="r-msg">
	<img src="http://dil.channeli.in/photo/img"/>
	<span class="r-name" style="color:#fff;">Information Management Group</span>
<span class="rose"><img src="images/yellowrose2.png"/></span>
<div class="message">Kickstart your valentine week with loads of love and fun <span ng-bind-html="':)'|emoticons"></span></div>
	</div>
    </div>
    <div id="c">



      <div class="linechart-wrapper" ng-if="h">
        <canvas id="line" class="chart chart-line" data="::lineChart.data" labels="::lineChart.labels"
                series="::lineChart.series" options="::lineChart.options"
                click="::lineChart.onClick"></canvas>
      </div>


  </div>


</div>
