<div class="fl-wrapper">
  <input type="text" id="query" ng-model="query2" autocomplete="off"
         placeholder="Search for {{selectedGender.getGender()}} friends"/>

  <div ng-click="selectedGender.male=!(selectedGender.male)"
       ng-class="{true:'active',false:'gender'}[selectedGender.male]"><i class="fa fa-male"></i></div>
  <div ng-click="selectedGender.female=!(selectedGender.female)"
       ng-class="{true:'active',false:'gender'}[selectedGender.female]"><i class="fa fa-female"></i></div>

  <div class="fl-hd">
    <span class="fl-serial">#</span>
    <span class="fl-name">Name</span>
    <span class="fl-num">R</span><span class="fl-num">Y</span><span class="fl-num"><i class="fa fa-male"></i> </span><span
    class="fl-num"><i class="fa fa-female"></i> </span>
  </div>
  <div class="fl-list-wrapper" scrollable watchCollections="filteredlb" scrollend="addtoLeaderboard();">
    <a ng-href="#/user/{{u.enrolmentNo}}"
       ng-repeat="u in (filteredlb=(users | orderBy:'-(red_roses+yellow_roses)' |leaderBfilter:query2)) track by $index"
       class="slide-left">
      <div class="fl-list">
        <span class="fl-serial">{{$index+1}}.</span>
      <span class="fl-name"><img src="{{u.dp}}" alt="{{u.name}}"/>
        <span>{{u.name}}</span></span>
        <span class="fl-num">{{u.red_roses}}</span>
        <span class="fl-num">{{u.yellow_roses}}</span>
        <span class="fl-num">6</span>
        <span class="fl-num">5</span>
      </div>
    </a>

    <div class="loading">
      <img src="/images/hearts.svg" alt=""/>
    </div>
  </div>
</div>
