<div class="user-wrapper">

  <div class="piechart-wrapper">
    <canvas id="doughnut" class="chart chart-doughnut" data="::pieChart.data"
            labels="::pieChart.labels" colours="::pieChart.colors" options="::pieChart.options"></canvas>
  </div>

  <div class="linechart-wrapper">
    <canvas id="line" class="chart chart-line" data="::lineChart.data" labels="::lineChart.labels"
            series="::lineChart.series" options="::lineChart.options"
            click="::lineChart.onClick"></canvas>
  </div>

</div>
