<div class="user-wrapper">

  <div class="user-info">
    <img src="/images/user.png" alt=""/>
    <div class="user-details">
      <span>Chintapenta Subramaniam Pramod</span>
    </div>
    <div class="user-score">16</div>
  </div>


  <div class="piechart-wrapper">
    <canvas id="pie" class="chart chart-pie" data="::pieChart.data"
            labels="::pieChart.labels" colours="::pieChart.colors" options="::pieChart.options"></canvas>

  </div>

  <div class="linechart-wrapper">
    <canvas id="line" class="chart chart-line" data="::lineChart.data" labels="::lineChart.labels"
            series="::lineChart.series" options="::lineChart.options"
            click="::lineChart.onClick"></canvas>
  </div>

</div>
