<div class="user-wrapper">

  <div class="user-info">
    <img ng-src="{{user.image}}" alt=""/>
    <div class="user-details">
      <span>{{user.name}}</span>
      <span>{{user.course}}, {{user.year | numberSuffix}} Year, {{user.dept}}</span>
    </div>
    <div class="user-score hint--left hint--rounded hint--error" data-hint="Roses Received">16</div>
  </div>

  <div class="title">
    <span>Roses Received</span>
    <span>Received from boy/girl</span>

  </div>

  <div class="piechart-wrapper">

    <canvas id="pie" class="chart chart-pie" data="::pieChart2.data"
            labels="::pieChart2.labels" colours="::pieChart.colors" options="::pieChart.options"></canvas>

  </div>


  <div class="piechart-wrapper">

    <canvas id="pie" class="chart chart-pie" data="::pieChart1.data"
            labels="::pieChart1.labels" colours="::pieChart.colors" options="::pieChart.options"></canvas>

  </div>

  <div class="title">Day by day statistics</div>
  <div class="linechart-wrapper">
    <canvas id="line" class="chart chart-line" data="::lineChart.data" labels="::lineChart.labels"
            series="::lineChart.series" options="::lineChart.options"
            click="::lineChart.onClick"></canvas>
  </div>

</div>
