@import "susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  gutters:0,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 100%,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);

/* Webfont: LatoLatinMed-Regular */@font-face {
  font-family: 'LatoLatinMed';
  src: url('../fonts/LatoLatinMed-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/LatoLatinMed-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/LatoLatinMed-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinLight-Regular */@font-face {
  font-family: 'LatoLatinLight';
  src: url('../fonts/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/LatoLatinLight-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}



@mixin color($opacity) {
  color: rgba(255, 255, 255, $opacity);
}

@mixin bg-color($opacity) {
  background-color: rgba(255, 255, 255, $opacity);
}

@mixin dimensions($width,$height){
  width:$width;
  height:$height;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border($opacity) {
  border: 1px solid rgba(255, 255, 255, $opacity);
}

/* ====== Configuration ===========*/
$font-default: 'LatoLatinMed', sans-serif;
$font-light:'LatoLatinLight', sans-serif;

$gradient1:#020031;// #251b86;
$gradient2:#6d3353;// #774180;

$bg-center: rgba(255, 255, 255, 0.06);

$linkcolor: aquamarine;

/*=================================*/

