@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400);
@import "susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  gutters:0,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 100%,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/lato-light-webfont.woff') format('woff'),
  url('../fonts/lato-light-webfont.ttf') format('truetype'),
  url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato-regular-webfont.ttf') format('truetype'),
  url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* ====== Configuration ===========*/
$font-default: 'latoregular', sans-serif;

$gradient1: #3023ae;//#020031;
$gradient2: #6d3353;//#c86dd7;

$bg-center:rgba(255,255,255,0.06);

$linkcolor:aquamarine;

/*=================================*/

