@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import "susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  gutters:0,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 100%,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);

/* ====== Configuration ===========*/
$font-default: 'Lato', sans-serif;

$gradient1: #3023ae;
$gradient2: #c86dd7;

$bg-center:rgba(255,255,255,0.06);

/*=================================*/

