// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@include font-face(face_itregular, '../fonts/face_it-webfont');


@import "bootstrap";

/* ====== Configuration ===========*/
$font-default:'Lato', sans-serif;
$font-smiley:'face_itregular';

/*=================================*/

*{
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  background: #fafafa;
  font-family: $font-default;
  color: #333;
  height: 100%;
  width: 100%;
  @include linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
  background-attachment: fixed;

  .container{
    header {
      height: 40px;
      width: 100%;
      position: fixed;
      background-color: #ffffff;
      opacity: 0.8;
      box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.62);
    }
  }

}




