// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower
@import "config";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  body {
    background: #fafafa;
    font-family: $font-default;
    color: #333;
    height: 100%;
    width: 100%;
    @include linear-gradient(135deg, $gradient1 0%, $gradient2 100%);
    background-attachment: fixed;
    @include container;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .container {
      height: 100%;
      header {
        @include span(12);
        height: 40px;
        background-color: #ffffff;
        opacity: 0.8;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.62);
        span {
          display: block;
          padding: 10px 0;
          width: 100px;
          text-align: center;
          float: right;
          cursor: pointer;
        }
      }
      .content {
        @include calc(height, '100% - 40px');
        div {
          float: left;
        }
        .left, .right {
          @include span(3);
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
        }
        .center {
          @include span(6);
          height: 100%;
          .ng-view {
            width: 100%;
            .shoutView {
              font-size: 14px;
              padding: 15px;
              color: rgba(255, 255, 255, 0.6);
              background-color: rgba(255, 255, 255, 0.05);
              margin: 20px;
              .userInfo {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                width: 100%;
                margin-bottom: 20px;
                padding-bottom: 15px;
                img {
                  width: 30px;
                  height: 30px;
                  float: left;
                  @include border-bottom-radius(2px);
                  @include border-top-radius(2px);
                }
                h3 {
                  padding: 5px;
                  float: left;
                  font-weight: 400;
                  @include calc(width, '50% - 40px');
                }
                span {
                  display: block;
                  width: 40%;
                  text-align: right;
                  padding: 4px;
                  float: right;
                }
              }
              .data {
                img {
                  max-width: 100%;
                  display: block;
                  margin: 20px auto;
                }
              }
              .youtube-shout {
                padding: 5px;
                margin: 20px 0;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.08);

                @include border-top-radius(2px);
                @include border-bottom-radius(2px);
                .img-you {
                  width: 35%;
                  float: left;
                  padding: 0;
                  img {
                    height: 100%;
                    float: left;
                    width: 100%;
                    @include border-top-radius(2px);
                    @include border-bottom-radius(2px);
                    cursor: pointer;
                  }
                  .play {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    @include calc(margin-top, '-50% + 12px');
                    cursor: pointer;
                    i {
                      @include calc(padding-left, '50% - 10px');
                      color: rgb(219, 0, 255);
                      opacity: 0.9;
                      font-size: 20px;
                      &:hover {
                        opacity: 1;
                      }

                    }
                  }
                }

                div {
                  float: left;
                  display: block;
                  width: 65%;
                  padding: 0 10px;
                  h3 {
                    font-weight: 500;
                    margin: 5px 0;
                    text-transform: capitalize;
                  }
                }
              }
              a {
                text-decoration: none;
                color: aquamarine;
              }
              iframe {
                display: block;
                margin: 20px 0;
                background: url('/images/hearts.svg') no-repeat;
                background-position: center;
              }
            }
          }
        }
        .right {
          @include span(3);
          .shoutbox {
            @include calc(height, '100% - 50px');
            overflow: hidden;
            padding: 5px;
            padding-right: 2px;
            width: 100%;
            -webkit-font-smoothing: antialiased;
            .shout {
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
              width: 100%;
              padding: 5px;
              .shouter {
                width: 100%;
                .userpic {
                  img {
                    @include border-bottom-radius(2px);
                    @include border-top-radius(2px);
                    height: 30px;
                    width: 30px;
                    overflow: hidden;
                    background-color: #ffffff;
                  }
                }
                .username {
                  color: #ffffff;
                  padding: 5px;
                  @include calc(width, '60% - 30px');
                  float: left;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  :before {
                    content: "\e601";
                  }
                }
                .time {
                  width: 40%;
                  text-align: right;
                  padding: 9px 5px 9px 9px;
                  float: left;
                  font-size: 13px;
                  color: #ffffff;
                  opacity: 0.7;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

              }
              .shout-data {
                font-size: 12px;
                color: #ffffff;
                padding: 5px 2px;
                opacity: 0.9;

                .icon-smiley {
                  font-size: 15px;
                  display: inline-block;
                  width: 20px;
                  text-align: center;
                  color: lightyellow;
                }
                .icon-heart {
                  //color:#BA5183;
                }
                a {
                  text-decoration: none;
                  color: aquamarine;
                  &:hover {
                    color: aqua;
                  }
                }

              }

            }
          }
          .shoutInput {
            width: 100%;
            padding: 8px;
            form {
              textarea {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                @include border-top-radius(2px);
                padding: 8px 10px;
                height: 40px;
                resize: none;
                color: #ffffff;
                font-family: $font-default;
                -webkit-font-smoothing: antialiased;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

  }
}

#rules {
  width: 100%;
  opacity: 0.8;
  padding: 10px;
  ol {
    position: relative;
    li {
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.7);
      text-align: justify;
    }
  }
  span {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: 300;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 30px;
    overflow: auto;
    margin-bottom: 40px;
  }

}

