.h-wrapper {
  width: 100%;

  .h-receiver {
    width: 100%;
    background-color: $bg-center;
    margin: 20px 0;
    padding: 8px;
    border-radius: 2px;
    position: relative;
    .h-sendingInfo {
      width: 100%;
      float: left;
      padding: 5px;
      @include border-radius(2px);
      span {
        display: block;
      }
      .hsi1 {
        width: 100%;
        margin-bottom: 10px;
        @include color(0.7);
        img {
          width: 34px;
          height: 34px;
          border-radius: 2px;
          float: left;
          border: 0;
        }
        .hsi1-1 {
          @include calc(width, '50% - 34px');
          float: left;
          padding: 4px 10px;
          padding-top: 0;
          font-size: 14px;

          span {
            opacity: 0.6;
            font-size: 13px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 4px;
          }
        }
        .hsi1-2 {
          width: 50%;
          float: left;
          text-align: right;
          font-size: 14px;
          display: block;
          padding: 3px 0;
          input[type=checkbox] {
            display: none;
          }
          input[type=checkbox] + label:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            margin-right: 8px;
            @include bg-color(0.6);
            @include border-radius(1px);
            margin-top: -2px;
            cursor: pointer;
          }
          input[type=checkbox]:checked + label:before {
            content: "\2714"; /* Tick */
            color: white;
            @include bg-color(0.3);
            text-align: center;
            line-height: 12px;
            font-size: 13px;
          }
        }
      }

      textarea {
        width: 100%;
        @include border-radius(2px);
        resize: none;
        margin: 10px 0;
        @include bg-color(0.04);
        @include border(0.06);
        padding: 5px;
        @include color(0.7);
        font-size: 13px;
        height: 30px;
        margin-top: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: height 0.8s;
        -moz-transition: height 0.8s;
        transition: height 0.8s;
        &:disabled {
          cursor: not-allowed;
          background-color: rgba(255, 0, 0, 0.08);
        }
        &:focus {
          height: 80px;
        }
      }
      .hsi2 {
        float: left;
        width: 50%;
        @include color(0.6);
        font-size: 14px;
        padding: 5px;
      }

      button {
        float: right;
        padding: 5px 10px;
        border-radius: 2px;
        @include border(0.15);
        @include bg-color(0.3);
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
        font-size: 14px;
        &:hover {
          @include bg-color(0.4);
        }
        i {
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
  }
.break{
  width: 100%;
  .h-br{
    @include calc(width,'25% - 18px');
    @include border(0.4);
    float: left;
    margin-right: 24px;
    @include border-radius(2px);
    margin-top: 50px;
    &:last-of-type{
      margin-right: 0;
    }
    .h-title{
      float:left;
      width: 50%;
      padding: 5px;
      @include color(0.7);
      text-align: center;
      &:first-of-type{
        @include bg-color(0.08);
      }
    }
  }
}
  .h-info {
    width: 100%;
    .h-dp {
      height: 100px;
      width: 100px;
      border-radius: 2px;
      overflow: hidden;
      float: left;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .h-score {
      font-size: 73px;
      height: 100px;
      min-width: 100px;
      padding:4px 10px;
      text-align: center;
      font-family: $font-default;
      background-color: $bg-center;
      color: #ffffff;
      border-radius: 2px;
      float: right;
      font-weight: 300;
    }
    .h-details {
      @include calc(width, '100% - 210px');
      float: left;
      span{
        @include color(0.7);
        display: block;
        padding: 6px 10px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        &:last-of-type{
          @include color(0.4);
        }
      }
    }
  }

  .angucomplete-wrapper {
    width: 100%;
    overflow: visible;
    .angucomplete-holder {
      width: 100%;

      .input {
        width: 100%;
        @include bg-color(0.15);
        @include border(0.4);
        @include border-radius(2px);
        padding: 7px;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        margin: 50px 0;
        margin-bottom: 0;
        text-transform: capitalize;
        &:focus{
          border-color:rgba(0,255,0,0.2);
        }
      }
      .angucomplete-dropdown {
        width: 100%;
        margin-top: 0;
        overflow-y: auto;
        max-height: 250px;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
        @include border-top-radius(0);
        @include bg-color(0.1);
        border: 0;
        color: #ffffff;
        padding: 0;
        .angucomplete-searching {
          color: #ffffff;
          padding: 5px 10px;
        }
        .angucomplete-row {
          border-bottom: 1px solid rgba(255, 255, 255, 0.02);
          width: 100%;
          font-size: 13px;
          @include color(0.8);
          margin: 0;
          padding: 2px 10px;
          span {
            padding: 5px 2px;
            display: block;
            float: left;
          }
          .angucomplete-image-holder {
            margin-left: 0;
            margin-right: 5px;
            .angucomplete-image {
              height: 20px;
              width: 20px;
              border-radius: 2px;
              border: none;
            }
          }
          .angucomplete-title {
            width: 30%;
            display: block;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .angucomplete-description {
            @include color(0.3);
            padding-left: 20px;
            @include calc(width, '70% - 30px');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .matched {
            color: $linkcolor;
            padding: 0;
          }
        }
      }
      .angucomplete-selected-row {
        background-color: $bg-center;
      }

    }
  }
}
