.lg-wrapper {
  width: 100%;
  h3 {
    text-align: center;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    @include color(0.3);
    background-color: $bg-center;
    padding: 5px;
    border-radius: 2px;
    font-size: 25px;
  }
  .post-ques {
    width: 100%;
    background-color: $bg-center;
    margin-top: 20px;
    padding: 8px;
    overflow: auto;
    @include border-radius(2px);
    p {
      @include color(0.4);
      margin: 20px 0;
      font-size: 14px;
    }
    span {
      display: block;
      overflow: auto;
      img {
        @include dimensions(30px, 30px);
        @include border-radius(2px);
        float: left;
      }
      input {
        float: left;
        @include calc(width, '100% - 40px');
        margin-left: 10px;
        padding: 6px;
        border: 0;
        background-color: transparent;
        font-size: 14px;
        @include color(0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
        -webkit-font-smoothing: antialiased;
        &:focus {
          background-color: $bg-center;
          @include border-radius(2px);
          @include transition(all 1.0s ease-in-out);
          border: none;
        }
      }
    }
    textarea {
      width: 100%;
      @include border-radius(2px);
      background-color: $bg-center;
      padding: 8px;
      @include border(0.2);
      resize: none;
      @include color(0.7);
      font-family: $font-default;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
    }
  }
}
